@import "../../style/public";
@import "../../style/index";

.avatar-box {
  display: flex;
  padding: 0 10rpx;
}

.gap::after {
  content: '';
  display: block;
  height: 20rpx;
  background: #eee;
}

.avatar {
  margin: 20rpx 10rpx;
}

.plus {
  border: 1px dashed grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  text-align: center;
  color: grey;
  font-size: 15px;
  margin-bottom: 20rpx;

  .icon {
    width: unset !important;
  }
}

.exit {
  padding: 20rpx 0;
  font-size: 15px;
  color: red;
  text-align: center;

  &.active {
    background: $active-background-color;
  }
}