@import "../../style/index";
@import "../../style/public";

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110rpx;
}

.avatar {
  margin: 20rpx;
}

.right {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid $border-color;
}

.van-badge {
  background: #fff !important;
  padding-left: 12px !important;

  &::after {
    border: transparent !important;
  }
}

.van-info {
  right: 2rpx !important;
}