<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐淘后台系统管理-首页</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/nprogress/nprogress.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="ind_left">
    <header><a href="index.html">ITCAST</a></header>
    <main>
        <div class="ind_info">
            <span class="glyphicon glyphicon-user"></span>
            <span>超级管理员</span>
        </div>
        <div class="ind_tabs">
            <a class="ind_user now" href="javascript:;"><span class="glyphicon glyphicon-user"></span> 用户管理</a>
            <div>
                <a class="ind_cat" href="javascript:;"><span class="glyphicon glyphicon-list"></span> 分类管理</a>
                <div class="cat_child">
                    <a class="fi_cat">一级分类</a>
                    <a class="se_cat">二级分类</a>
                </div>
            </div>
            <a class="ind_pro" href="javascript:;"><span class="glyphicon glyphicon-tags"></span> 商品管理</a>
        </div>
    </main>
</div>
<div class="ind_container">
    <header>
        <a class="glyphicon glyphicon-align-justify pull-left" href="javascript:;"></a>
        <a class="glyphicon glyphicon-log-out pull-right" href="javascript:;" id="lt_exit"></a>
    </header>
    <main class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="#">管理系统</a></li>
            <li><a href="#" class="active">用户管理</a></li>
        </ol>
        <!--    系统繁忙-->
        <div id="lt_error" style="display: none"></div>
        <table class="table table-hover table-bordered text-center">
            <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
<!--        分页-->
        <div id="userPage"></div>
    </main>
</div>
<!--模态框-->
<div class="user_modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p><span class="glyphicon glyphicon-info-sign"></span> 您确定要<strong>禁用</strong> <strong>itcast</strong>
                    用户吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="n btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="y btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/x-art-template" id="userTemp">
    <% if (rows && rows[0]) {
    for (var i = 0; i < rows.length; i++) { %>
    <tr>
        <% for( item in rows[i]) {
        if (item == 'password') continue;
        if (item == 'isDelete') { %>
        <td class="<%=rows[i][item]==1?'':'text-danger'%>"><%=rows[i][item]==1?'正常':'已禁用'%></td>
        <% } else { %>
        <td><%=rows[i][item]%></td>
        <% } } %>
        <% if (rows[i]['isDelete'] == 1) { %>
        <td><a class="btn btn-danger">禁用</a></td>
        <% } else { %>
        <td><a class="btn btn-success">启用</a></td>
        <% } %>
    </tr>
    <% } } %>
</script>
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="assets/nprogress/nprogress.js"></script>
<script src="js/common.js"></script>
<script src="js/userManage.js"></script>
</body>
</html>