.add-contact-box {
  padding: 120rpx 20rpx 0;
}

.search-input {
  border: 1px solid #ddd;
  border-radius: 10rpx;
  padding: 20rpx;
}

.search-btn {
  margin-top: 40rpx;
}

.no-user {
  padding: 20rpx;
  text-align: center;
  color: #ccc;
}