{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "@vue/babel-plugin-jsx",
      {
        "external-helpers": true
      }
    ]
  ]
}
