@import "../../style/public";
@import "../../style/animate";
@import "../../style/vant";
@import "../../style/index";

.message-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100rpx;

  .right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    font-size: 24rpx;
    padding: 10rpx;
    padding-left: 0;
    box-sizing: border-box;
  }

  .status {
    display: inline-block;
    height: 24rpx;
    width: 24rpx;
    margin: 0 10rpx;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .remark {
    font-size: 28rpx;
  }

  .content {
    display: flex;
    align-items: center;
    font-size: 24rpx;
    color: #aaa;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24rpx;
    color: #aaa;
  }

  .badge {
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    font-size: 10px;
    padding: 0 4rpx;
    min-width: 32rpx;
    text-align: center;
    background: red;
    border: 8rpx;
    border-radius: 50%;
    align-self: flex-end;
  }

  &.top {
    background: #f1f1f1;
  }

  &.active {
    background: $active-background-color;
  }
}

.float-menu {
  .item {
    padding: 20rpx;
  }
}