.search {
  margin-left: 30rpx;
}


.van-cell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &::after {
    border: none !important;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110rpx;
}

.left {
  display: block;
  width: 80rpx;
  height: 80rpx;
  margin: 20rpx;
  border-radius: 8rpx;
}

.right {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid #efefef;
}