function isUsernameHidden(username, keyword) {
  return !keyword || username.indexOf(keyword) === -1
}

function isSelected(username, selecteds) {
  return selecteds.filter(function (c) {
    return c.username === username
  }).length > 0
}
module.exports.isUsernameHidden = isUsernameHidden
module.exports.isSelected = isSelected