@import '../../style/animate.scss';
@import '../../style/vant.scss';
@import '../../style/index.scss';

.chat-box {
  background-color: #eee;
  min-height: calc(100vh - 44px - env(safe-area-inset-top)); // 减去uni title 高度
  padding-bottom: 100rpx;
  box-sizing: border-box;
}

.main {
  overflow: scroll;

  &.showOpt {
    // padding-bottom: 360rpx;
    // height: calc(100vh - 560rpx);
  }
}

.img {
  display: block;
  height: 60rpx;
  width: 60rpx;
  margin: 0 10rpx;
}

.content {
  position: relative;
  display: flex;
  // align-items: center;
  align-items: flex-start;
  // height: 60rpx;
  padding: 0 20rpx;
  max-width: 490rpx;
  background-color: $color-primary;
  border-radius: 8rpx;
  word-break: break-word;

  .text {
    line-height: 60rpx;
  }

  .active {
    background: #4cd964;
  }

  &::before {
    content: '';
    position: absolute;
    border: 12rpx transparent solid;
    top: 50%;
    transform: translateY(-50%);
  }
}

.chat-log {
  width: 490rpx;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border: 12rpx transparent solid;
    top: 30rpx;
    transform: translateY(-50%);
  }
}

.status {
  width: 30rpx;
  height: 30rpx;
}

.complete {
  margin: 0 20rpx;
  color: skyblue;
}

.empty {
  margin: 0 20rpx;
  color: skyblue;
}

.round {
  display: block;
  width: 30rpx;
  height: 30rpx;
  line-height: 30rpx;
  text-align: center;
  margin: 0 20rpx;
  border: 1px solid skyblue;
  color: skyblue;
  font-size: 10px;
  border-radius: 50%;
}

.link {
  color: dodgerblue;
}

.middle {
  text-align: center;
  color: #ccc;
  font-size: 24rpx;
  margin-top: 20rpx;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 20rpx;
  font-size: 28rpx;

  .info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .main-box {
    display: flex;
    align-items: center;
  }

  .checkbox {
    margin-left: 20rpx;
  }
}

.left {
  .info {
    justify-content: flex-start;
  }

  .status {
    margin-left: 10rpx;
  }

  .content,
  .chat-log {
    margin-left: 16rpx;

    &::before {
      left: -24rpx;
      border-right: 16rpx $color-primary solid;
    }
  }

  .chat-log::before {
    border-right: 16rpx #fff solid;
  }
}

.right {
  justify-content: flex-end;

  .status {
    margin-right: 10rpx;
  }

  .content,
  .chat-log {
    margin-right: 16rpx;

    &::before {
      right: -24rpx;
      border-left: 16rpx $color-primary solid;
    }
  }

  .chat-log::before {
    border-left: 16rpx #fff solid;
  }

  .audio {
    rotate: 180deg;
  }
}

.bottom {
  position: fixed;
  bottom: 0;
  // position: fixed;
  // bottom: 0;
  // height: 0;
  // bottom: 10px;
  width: 100%;
  background-color: #eee;
  // transition: height .5s;

  // &.focus {
  // 	padding-bottom: 50rpx;
  // }

  &.showOpt {
    // height: 360rpx;
  }

  .input-box {
    display: flex;
    align-items: center;
    height: 72rpx;
    padding-bottom: 20rpx;
  }

  .opts {
    display: flex;
    flex-wrap: wrap;

    .opt-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 33.33%;
      text-align: center;
      font-size: 24rpx;
      margin-bottom: 20rpx;
    }

    image {
      margin: auto;
    }
  }

  .input-main {
    flex-grow: 1;
    background-color: #fff;
    padding: 10rpx;
    // margin: 0 10rpx;
    border-radius: 8rpx;
  }

  button {
    background-color: $color-primary;
  }

  .btn-small {
    background-color: #fff;
    flex-grow: 1;
    height: 70rpx;
    line-height: 70rpx;
    margin-right: 10rpx;
  }

  .cancel {
    background-color: red;
    color: #fff;
    margin-left: 10rpx;
  }
}

.calling-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20rpx;

  video {
    margin-bottom: 20rpx;
  }

  .state {
    text-align: center;
    margin-bottom: 20rpx;
  }

  .btns {
    display: flex;
    justify-content: space-around;
  }
}

.float-btn {
  position: fixed;
  right: 0;
  top: 0;
}

.float-menu {
  .f-item {
    padding: 6rpx;
    margin-top: 20rpx;
  }
}

.mul-sel-opt {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  width: 100%;
  height: 92rpx;

  .opt-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8rpx 0;
    box-sizing: border-box;
    font-size: 12px;
    height: 100%;
  }

  .van-icon {
    font-size: 18px !important;
  }
}