<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>微金所</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <script src="lib/respond/respond.src.js"></script>
    <![endif]-->
</head>
<body>
<header class="wjs_topBar hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a class="wjs_app">
                    <span class="wjs_icon wjs_icon_phone">手机微金所</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <img src="images/code.jpg">
                </a>
            </div>
            <div class="col-md-5">
                <span class="wjs_icon wjs_icon_tel">4006-89-4006（服务时间：9:00-21:00）</span>
            </div>
            <div class="col-md-2">
                <a href="#">常见问题</a>
                <a href="#">财富登录</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="wjs_register btn btn-danger btn-xs">免费注册</a>
                <a href="#" class="wjs_login">登录</a>
            </div>
        </div>
    </div>
</header>

<nav class="navbar wjs_nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="wjs_icon wjs_icon_logo"></span>
                <span class="wjs_icon wjs_icon_name"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">我要投资</a></li>
                <li><a href="#">我要借贷</a></li>
                <li><a href="#">平台介绍</a></li>
                <li><a href="#">新手专区</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="#">微平台</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="carousel-example-generic" class="carousel slide wjs_banner" data-ride="carousel">
    <ol class="carousel-indicators"></ol>
    <div class="carousel-inner"></div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="container wjs_info hidden-xs">
    <div class="col-sm-6 col-md-4">
        <a href="javascript:;">
            <div class="media">
                <div class="media-left">
                    <div class="wjs_icon wjs_icon_money"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全程保证安全</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="javascript:;">
            <div class="media">
                <div class="media-left">
                    <div class="wjs_icon wjs_icon_money"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全程保证安全</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="javascript:;">
            <div class="media">
                <div class="media-left">
                    <div class="wjs_icon wjs_icon_money"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全程保证安全</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="javascript:;">
            <div class="media">
                <div class="media-left">
                    <div class="wjs_icon wjs_icon_money"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全程保证安全</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="javascript:;">
            <div class="media">
                <div class="media-left">
                    <div class="wjs_icon wjs_icon_money"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全程保证安全</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="javascript:;">
            <div class="media">
                <div class="media-left">
                    <div class="wjs_icon wjs_icon_money"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">支付交易保障</h4>
                    <p>银联支付全程保证安全</p>
                </div>
            </div>
        </a>
    </div>
</div>
<script type="text/x-art-template" id="pointTemp">
    <% for(var i = 0; i < data.length; i++) { %>
    <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i==0?'active':''%>"></li>
    <% } %>
</script>
<script type="text/x-art-template" id="imgTemp">
    <% for(var i = 0; i < data.length; i++) { %>
    <div class="item <%=i==0?'active':''%>">
        <% if (isMobile) {%>
        <a class="m_imgBox"><img src="<%=data[i].mImg%>" alt="..."></a>
        <% } else { %>
        <a class="pc_imgBox" style="background-image: url(<%=data[i].pcImg%>)"></a>
        <% } %>
    </div>
    <% } %>
</script>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/art-template/template-web.js"></script>
<script src="js/index.js"></script>
</body>
</html>