ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.lt_main {
    background: #ccc;
}

.lt_main .cate_left {
    width: 90px;
    float: left;
    margin-right: 10px;
}

.lt_main .cate_left ul {
}

.lt_main .cate_left ul li {
}

.lt_main .cate_left ul li.now a {
    background: none;
    color: orange;
}

.lt_main .cate_left ul li a {
    width: 90px;
    height: 50px;
    line-height: 50px;
    display: block;
    float: left;
    font-size: 14px;
    color: #000;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.lt_main .cate_right {
    overflow: hidden;
    background: #fff;
    margin-top: 10px;
}

.lt_main .cate_right ul {
}

.lt_main .cate_right ul li {
    width: 33.3333%;
    float: left;
}

.lt_main .cate_right ul li a {
    width: 100%;
    text-align: center;
    display: block;
    color: #000;
    font-size: 12px;
}

.lt_main .cate_right ul li a span {

}

.lt_main .cate_right ul li a img {
    width: 100%;
    display: block;
}