html {
    height: 100%;
}

body {
    height: 100%;
}

.lt_container {
    width: 100%;
    height: 100%;
}

.lt_topBar {
    width: 100%;
    height: 45px;
    position: relative;
    background: #006699;
    text-align: center;
    color: #fff;
    z-index: 999;
}

.lt_topBar .lt_back, .lt_topBar .lt_search {
    position: absolute;
    top: 0;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    transform: translateY(50%);
    color: #fff;
}

.lt_topBar .lt_back {
    left: 12px;
}

.lt_topBar span {
    line-height: 45px;
    margin: 0;
}

.lt_topBar form {
    width: 100%;
    padding: 8px 50px;
}

.lt_topBar form input {
    height: 30px;
    background: #fff;
    color: #000;
}

.lt_topBar .lt_search {
    right: 12px;
}

.lt_main {
    height: 100%;
    padding-top: 45px;
    padding-bottom: 65px;
    touch-action: none; /*阻止默认操作*/
}

.lt_tabs {
    width: 100%;
    height: 55px;
    background: #006699;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 10px;
    z-index: 999;
}

.lt_tabs a {
    width: 25%;
    display: block;
    float: left;
    color: #fff;
}

.lt_tabs a span {
    display: block;
    padding-top: 6px;
    font-size: 12px;
}

.lt_tabs > a.now {
    color: orange;
}