/*轮播图*/
.lt_main .mui-slider-indicator {
    margin-bottom: 10px;
}

/*导航栏*/
.lt_nav {
    padding: 0 10px;
}

.lt_nav a {
    width: 33.3333%;
    float: left;
}

.lt_nav a img {
    width: 100%;
    display: block;
}

/*产品*/
.lt_pro {
    padding: 0 10px;
}

.lt_pro .lt_pro_item {
    width: 48%;
    float: left;
    text-align: center;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 5px #ccc;
}

.lt_pro .lt_pro_item:nth-of-type(2n) {
    margin-left: 4%;
}

.lt_pro .lt_pro_item a {
    width: 100%;
}

.lt_pro .lt_pro_item a img {
    width: 100%;
    display: block;
}

.lt_pro .lt_pro_item p:first-of-type {
}

.lt_pro .lt_pro_item p:last-of-type {
    font-size: 12px;
}

.lt_pro .lt_pro_item p:last-of-type .newPri {
    color: red;
}

.lt_pro .lt_pro_item p:last-of-type .oldPri {
    text-decoration: line-through;
}

.lt_pro .lt_pro_item button {
    background: #006699;
    color: #fff;
    margin-bottom: 10px;
}