@import "../../style/index";

.gap::after {
  content: '';
  display: block;
  height: 20rpx;
  background: #eee;
}

.avatar {
  margin: 20rpx;
  flex: 0;
}

.plus {
  border: 1px dashed grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80rpx;
}