.gap::after {
  content: '';
  display: block;
  height: 20rpx;
  background: #eee;
}

.avatar {
  display: block;
  width: 80rpx;
  height: 80rpx;
  margin: 20rpx;
  border-radius: 8rpx;
  flex: 0;
}

.plus {
  border: 1px dashed grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80rpx;
}