<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>留言本</title>
  <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.css">
</head>

<body>
  <div class="header container">
    <div class="page-header">
      <h1>反馈<small>Subtext for header</small></h1>
      <a class="btn btn-success" href="/post">发表留言</a>
    </div>
  </div>
  <div class="comments container">
    <ul class="list-group">
      <% for(var i = 0; i < data.length; i++) { %>
      <li class="list-group-item"><%=data[i].name%> ： <%=data[i].message%><span class="pull-right"><%=data[i].time%></span></li>
      <% } %>
    </ul>
  </div>
</body>
</html>
