<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <title>乐淘云购-搜索中心</title>
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div class="lt_container">
    <header class="lt_topBar">
        <a class="lt_back fa fa-arrow-left" href="javascript:history.back()"></a>
        <span>搜索中心</span>
    </header>
    <div id="refreshContainer" class="lt_main mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="lt_main_search">
                <a class="btn_search_2" href="javascript:;">搜索</a>
                <form><input type="search" id="main_search_2"></form>
            </div>
            <!--排序-->
            <div class="lt_orderBar">
                <a class="od_time">上架时间 <span class="fa fa-angle-down"></span></a>
                <a class="od_price">价格 <span class="fa fa-angle-down"></span></a>
                <a class="od_num">销量 <span class="fa fa-angle-down"></span></a>
                <a class="od_discount">折扣 <span class="fa fa-angle-down"></span></a>
            </div>
            <!--搜索结果-->
            <div class="search_result mui-clearfix">

            </div>
        </div>
    </div>
    <footer class="lt_tabs">
        <a class="tab_home fa fa-home" href="index.html"><span>首页</span></a>
        <a class="tab_cate fa fa-bars" href="cate.html"><span>分类</span></a>
        <a class="tab_cart fa fa-shopping-cart" href="cart.html"><span>购物车</span></a>
        <a class="tab_user fa fa-user" href="user/index.html"><span>会员中心</span></a>
    </footer>
</div>
<script type="text/x-art-template" id="searchList">
    <% for(var i = 0; i < data.length; i++) { %>
    <div class="lt_pro_item">
        <% if (data[i].pic && data[i].pic[0]) { %>
        <a href="product.html?productId=<%=data[i].pic[0].productId%>"><img src="<%=data[i].pic[0].picAddr%>"></a>
        <% } else { %>
        <a href="product.html?productId=1"><img src="images/none.png"></a>
        <% } %>
        <p class="mui-ellipsis-2"><%=data[i].proName%></p>
        <p><span class="newPri"><%=data[i].price%></span> <span class="oldPri"><%=data[i].oldPrice%></span></p>
        <button class="buy">立即购买</button>
    </div>
    <% } %>
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/common.js"></script>
<script src="js/searchList.js"></script>
</body>
</html>