body, html {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

.jd_category {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

.jd_topBar {
    width: 100%;
    height: 45px;
    position: relative;
    background: url("../images/header-bg.png") 0 0 /1px 44px;
    z-index: 1;
}

.jd_topBar .back {
    width: 20px;
    height: 40px;
    display: block;
    position: absolute;
    left: 10px;
    top: 12px;
    background: url("../images/sprites.png") -22px 0 / 200px 200px;
}

.jd_topBar form {
    width: 100%;
    padding: 0 40px;
}

.jd_topBar form input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.jd_topBar .menu {
    width: 25px;
    height: 30px;
    display: block;
    position: absolute;
    top: 13px;
    right: 10px;
    background: url("../images/sprites.png") -58px 0 / 200px 200px;
}

main {
    padding-top: 45px;
    margin-top: -45px;
    width: 100%;
    height: 100%;
}

main .cate_left {
    height: 100%;
    float: left;
    overflow: hidden;
}

main .cate_left ul {
    width: 90px;
}

main .cate_left ul li {
    width: 90px;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 12px;
    background: #f3f4f5;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 0 10px;
    text-align: center;
}

main .cate_left ul li.now {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: none;
    background: #fff;
}

main .cate_left ul li.now a {
    color: #d8505c;
}

main .cate_left ul li a {
    color: #000;
}

main .cate_right {
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

main .cate_right .cate_banner {
}

main .cate_right .cate_banner a {
}

main .cate_right .cate_banner a img {
    width: 100%;
    display: block;
}
.cate_right .cate_con .hot {
    width: 100%;
}

.cate_right .cate_con h3 {
    font-size: 12px;
    margin-top: 10px;
}

.cate_right .cate_con ul {
}

.cate_right .cate_con ul li {
    width: 33.3333%;
    text-align: center;
    float: left;
    display: block;
    margin: 5px 0;
}

.cate_right .cate_con ul li a {
    width: 100%;
}

.cate_right .cate_con ul li a img {
    width: 62px;
    height: 62px;
    display: block;
    margin: 0 auto;
}

.cate_right .cate_con ul li a p {
    font-size: 12px;
    color: #000;
    margin-top: 5px;
}