body {
    background: #f5f5f5;
}

.jd_container {
    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
}

.jd_search {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1000;
}

.jd_search .jd_search_box {
    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    height: 40px;
    position: relative;
    background: rgba(228, 49, 48, 0);
}

.jd_search .jd_search_box .jd_icon_logo {
    width: 60px;
    height: 40px;
    display: block;
    position: absolute;
    left: 5px;
    top: 2px;
    background-image: url("../images/sprites.png");
    background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
    background-position: 0 -103px;
}

.jd_search .jd_search_box form {
    width: 100%;
    padding-left: 70px;
    padding-right: 60px;
    position: relative;
}

.jd_search .jd_search_box form input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    margin-top: 5px;
    padding-left: 40px;
}

.jd_search .jd_search_box form .jd_icon_search {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 80px;
    top: 10px;
    background-image: url("../images/sprites.png");
    background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
    background-position: -60px -109px;
}

.jd_search .jd_search_box .jd_logoin {
    width: 50px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_banner ul:first-of-type {
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
}

.jd_banner ul:first-of-type li {
    width: 10%;
    /*display: block;*/
    float: left;
}

.jd_banner ul:first-of-type li a {
    width: 100%;
    display: block;
}

.jd_banner ul:first-of-type li a img {
    width: 100%;
    display: block;
}

.jd_banner ul:last-of-type {
    position: absolute;
    left: 50%;
    bottom: 6px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.jd_banner ul:last-of-type li {
    width: 6px;
    height: 6px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.jd_banner ul:last-of-type .now {
    background: white;
}

.jd_nav {
    background: white;
    width: 100%;
}

.jd_nav .clearFix {
    display: block;
    border-bottom: 1px solid #ccc;
}

.jd_nav .clearFix li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    margin: 10px 0;
}


.jd_product_box {
    width: 100%;
    background: #fff;
    margin-top: 10px;
}

.jd_product_box .tit {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.jd_product_box .tit:before {
    content: "";
    width: 3px;
    height: 20px;
    background: red;
    display: block;
    position: absolute;
    top: 9px;
}

.jd_product_box .tit h3 {
    font-weight: normal;
    margin-left: 15px;
}

.jd_product_box:first-of-type .tit:before {
    content: "";
    height: 0;
}

.jd_product_box .con {

}

.jd_product_box .con a {
    width: 50%;
}

.jd_product_box .con a img {
    display: block;
    width: 100%;
}

.sk .tit {
    height: 50px;
    line-height: 50px;
    width: 100%;
}


.sk .icon {
    width: 20px;
    height: 25px;
    display: block;
    background-image: url("../images/seckill-icon.png");
    background-size: 20px 25px;
    -webkit-background-size: 20px 25px;
    margin-left: 20px;
    margin-top: 10px;
}

.sk .name {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    color: #b10410;
}


.sk .time span {
    background: black;
    color: #fff;
}

.sk .time span:nth-of-type(3n) {
    background: #fff;
    color: #000;
}

.tit .m_r10 {
    margin-right: 10px;
    color: #000;
}

.sk .con .pro li {
    width: 33.3333%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

.sk .con .pro li a {
    width: 100%;
    display: block;
    border-right: 1px solid #ccc;
}

.sk .con .pro li:last-of-type a {
    border: none;
}

.sk .con .pro li a img {
    width: 64%;
    display: block;
    margin: 0 auto;
}

.sk .con .pro li .oldPrice {
    text-decoration: line-through;
}


.br {
    border-right: 1px solid #ccc;
}

.bl {
    border-left: 1px solid #ccc;
}

.bb {
    border-bottom: 1px solid #ccc;
}